@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea {
    @apply bg-white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #2a4144;
    transition: background-color 5000s ease-in-out 0s;
  }
}
